<?xml version="1.0"?>
<!-- Copyright (c) Microsoft Corporation.  All Rights Reserved. -->
<configuration>
  <system.serviceModel>

    <client>
      <endpoint address="http://localhost:8080/Calculator" binding="basicHttpBinding" contract="Microsoft.Samples.ExpectedExceptions.ICalculator"/>
    </client>
   
  </system.serviceModel>

</configuration>
